body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.container {
  margin: 0rem 11.857rem;
}

.header {
  background-image: url(assets/hero-image.jpg);
  height: 100vh;
  background-repeat: no-reapeat;
  background-size: cover;
}

.header-line {
  padding-top: 3.571rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 1.785rem;
  transition: color 0.3s linear;
}

.nav-item:hover {
  color: red;
}

.cart {
  position: relative;
  border-right: 0.071rem solid #ffffff;
  padding-right: 0.714rem;
  height: 3.571rem;
}

.cart-img {
  position: absolute;
  top: 1.285rem;
  right: 0.5rem;
}

.num {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.29rem;
  font-weight: 700;
  transition: color 0.3s linear;
}

.num:hover {
  color: red;
}

.phone-text {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.fon-holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: orangered;
  color: white;
  padding: 1rem 1.357rem;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.2s linear;
}

.buttom:hover {
  background-color: rgb(255, 0, 0);
}

.header-down {
  position: relative;
}

.header-title {
  color: orangered;
  font-family: "Tinos", serif;
  font-size: 3.571rem;
  font-weight: 400;

  text-align: center;
  position: absolute;
  left: 12.5rem;
  top: 9.875rem;
}
.header-subtitle {
  font-size: 5.714rem;
}
.header-suptitle {
  color: #ffffff;
  font-size: 1.29rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0.857rem;
}
.header-suptitle:after {
  position: absolute;
  content: " ";
  height: 0.142rem;
  width: 4.357rem;
  background-color: #ffffff;
  top: 11.56rem;
  left: 5.5rem;
}
.header-suptitle:before {
  position: absolute;
  content: " ";
  height: 0.142rem;
  width: 4.357rem;
  background-color: #ffffff;
  top: 11.56rem;
  left: 24.5rem;
}

.button-view {
  position: relative;
}

.text-button {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;

  transition: color 0.3s linear;
}

.text-button:hover {
  color: black;
}

.button-2 {
  position: absolute;
  top: 23.285rem;
  left: 24.357rem;
  padding: 1rem 2rem;
  background-color: orangered;
  border-color: orangered;
}
.card-holder {
  display: flex;
  justify-content: center;
}
.card {
  box-shadow: 10px 10px 40px 20px #0000001a;
  width: 24.928rem;
  margin-right: 31px;
  background-color: #ffffff;
  margin-top: -5.714rem;
  padding: 0.714rem 0.714rem;
}
.card span {
  color: orange;
}
.card-img {
  display: flex;
  justify-content: center;
  padding-top: 2.214rem;
}
.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.428rem;
  font-family: "Tinos", serif;
  font-size: 1.857rem;
  font-weight: 400;
}
.card-desc {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 1.857rem;
  font-weight: 400;
  color: #656363;
}
.history {
  margin-top: 11.857rem;
}
.history-title span {
  color: orangered;
}
.history-info {
  margin-bottom: 18.714rem;
}
.history-title {
  font-family: "Tinos", serif;
  font-size: 3.857rem;
  font-weight: 400;
  width: 31.714rem;
  text-align: center;
}
.history-desc {
  color: #656363;
  font-size: 1.142rem;
  width: 31.714rem;
  text-align: center;
}
.history-number {
  display: flex;
  width: 31.714rem;
  justify-content: center;
  margin-top: 2.857rem;
  margin-left: 2.142rem;
}
.number-item {
  margin-right: 4.285rem;
  text-align: center;
  font-size: 2.857rem;
  color: rgb(241, 203, 156);
}
.number-item span {
  display: block;
  color: black;
  font-size: 2rem;
}
.history-holder {
  display: flex;
}
.history-img {
  position: relative;
}
.img-1 {
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: 12.071rem;
}
.img-2 {
  position: absolute;
  z-index: 0;
  top: 9rem;
  left: 4.071rem;
}
.img-3 {
  position: absolute;
  z-index: 2;
  top: 5rem;
  left: 24.071rem;
}
.black-block {
  background-image: url(assets/blackfon.jpg);
  height: 25.5rem;
  background-repeat: no-reapeat;
  background-size: cover;
}

.black-holder {
  display: flex;
  justify-content: space-between;
}
.button-black {
  border-color: orangered;
}
.left {
  padding-top: 5.714rem;
}
.title-left {
  color: orangered;
  font-family: "Tinos", serif;
  font-size: 3.571rem;
  font-weight: 400;
}
.text {
  color: #ffffff;
  font-size: 1.714rem;
  margin-top: 1.428rem;
  font-weight: 700;
}
.right {
  margin-top: 11.071rem;
  margin-left: 331px;
  margin-right: 160px;
}
.container2 {
  background: rgba(45, 42, 42, 0.8);
  width: 1354px;
  height: 409px;
  margin-left: 0px;
  padding-left: 165px;
}
.title-burger {
  font-family: "Tinos", serif;
  font-size: 3.857rem;
  font-weight: 400;
  margin-top: 9.428rem;
  margin-bottom: 10.214rem;
  text-align: center;
}
.title-burger span {
  color: orangered;
}
.burger-img {
  width: 474px;
  height: 474px;
}
.burger-imges {
  width: 140px;
  height: 140px;
  margin-left: 30px;
  margin-bottom: 27px;
}
.burgers3 {
  display: grid;
}
.burgers-holder {
  display: flex;
}
.prise {
  display: grid;
  font-family: "Tinos", serif;
  font-size: 1.8rem;
  font-weight: 400;
}
.holder-prise {
  display: flex;
}
.gumburger-prise {
  margin-left: 6rem;
  margin-right: -5rem;
  padding-top: 3rem;
}
