body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

.container {
  margin: 0rem 11.857rem;
}

.header {
  background-image: url(hero\ image.jpg);
  height: 100vh;
  background-repeat: no-reapeat;
  background-size: cover;
}

.header-line {
  padding-top: 3.571rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 1.785rem;
  transition: color 0.3s linear;
}

.nav-item:hover {
  color: red;
}

.cart {
  position: relative;
  border-right: 0.071rem solid #ffffff;
  padding-right: 0.714rem;
  height: 3.571rem;
}

.cart-img {
  position: absolute;
  top: 1.285rem;
  right: 0.5rem;
}

.num {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.29rem;
  font-weight: 700;
  transition: color 0.3s linear;
}

.num:hover {
  color: red;
}

.phone-text {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.fon-holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: orangered;
  color: white;
  padding: 1rem 1.357rem;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.2s linear;
}

.buttom:hover {
  background-color: rgb(255, 0, 0);
}

.header-down {
  position: relative;
}

.header-title {
  color: orangered;
  font-family: "Tinos", serif;
  font-size: 3.571rem;
  font-weight: 400;

  text-align: center;
  position: absolute;
  left: 12.5rem;
  top: 15.857rem;
}
.header-subtitle {
  font-size: 5.714rem;
}
.header-suptitle {
  color: #ffffff;
  font-size: 1.29rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
